@page
@model Keskhinne.Pages.Hinded.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hinne[0].V채채rtus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Hinne) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.V채채rtus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.HinneID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.HinneID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.HinneID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
