@page
@model Keskhinne.Pages.Tulemused.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tulemuse detailid</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AineHinne.Aine.Nimetus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AineHinne.Aine.Nimetus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AineHinne.Aine.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AineHinne.Aine.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AineHinne.Aine.EAP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AineHinne.Aine.EAP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AineHinne.Hinne)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AineHinne.Hinne.Väärtus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AineHinne.AineHinneID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
