@page
@model Keskhinne.Pages.Tulemused.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<p>
    <label class="control-label">Kaalutud keskhinne on: @ViewData["Kaalutud"]</label>
</p>
<p>
    <label class="control-label">Sooritatud ainete EAP summa on: @ViewData["KoguEAP"]</label>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aine.Nimetus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aine.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aine.EAP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AineHinne[0].Hinne)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AineHinne) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aine.Nimetus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aine.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aine.EAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hinne.Väärtus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AineHinneID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AineHinneID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AineHinneID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
